<div id="fh5co-portfolio">
  <div class="row nopadding">
    <div class="col-md-6 padding-right">
      <div class="row">
        <div class="col-md-12 animate-box">
          <a href="single.html" class="portfolio-grid">
            <img
              src="assets/images/portfolio-1.jpg"
              class="img-responsive"
              alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
            />
            <div class="desc">
              <h3>Dublin Arena Architect Project</h3>
              <span>Building, Arena</span>
            </div>
          </a>
        </div>
        <div class="col-md-12 animate-box">
          <a href="single.html" class="portfolio-grid">
            <img
              src="assets/images/portfolio-4.jpg"
              class="img-responsive"
              alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
            />
            <div class="desc">
              <h3>Dublin Arena Architect Project</h3>
              <span>Building, Arena</span>
            </div>
          </a>
        </div>
        <div class="col-md-12 animate-box">
          <a href="single.html" class="portfolio-grid">
            <img
              src="assets/images/portfolio-5.jpg"
              class="img-responsive"
              alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
            />
            <div class="desc">
              <h3>Dublin Arena Architect Project</h3>
              <span>Building, Arena</span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6 padding-left">
      <div class="row">
        <div class="col-md-12 animate-box">
          <a href="single.html" class="portfolio-grid">
            <img
              src="assets/images/portfolio-2.jpg"
              class="img-responsive"
              alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
            />
            <div class="desc">
              <h3>Dublin Arena Architect Project</h3>
              <span>Building, Arena</span>
            </div>
          </a>
        </div>
        <div class="col-md-12 animate-box">
          <a href="single.html" class="portfolio-grid">
            <img
              src="assets/images/portfolio-3.jpg"
              class="img-responsive"
              alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
            />
            <div class="desc">
              <h3>Dublin Arena Architect Project</h3>
              <span>Building, Arena</span>
            </div>
          </a>
        </div>
        <div class="col-md-12 animate-box">
          <a href="single.html" class="portfolio-grid">
            <img
              src="assets/images/portfolio-6.jpg"
              class="img-responsive"
              alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
            />
            <div class="desc">
              <h3>Dublin Arena Architect Project</h3>
              <span>Building, Arena</span>
            </div>
          </a>
        </div>

        <div class="col-md-12 animate-box">
          <a href="single.html" class="portfolio-grid">
            <img
              src="assets/images/portfolio-7.jpg"
              class="img-responsive"
              alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
            />
            <div class="desc">
              <h3>Dublin Arena Architect Project</h3>
              <span>Building, Arena</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
