<aside id="fh5co-hero">
  <div class="flexslider">
    <ul class="slides">
      <li style="background-image: url(assets/images/img_bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-xs-8 col-md-offset-1 slider-text">
              <div class="slider-text-inner">
                <h1><a href="#">Best showcase for architecture</a></h1>
                <h2>
                  Free html5 templates Made by
                  <a href="http://freehtml5.co/" target="_blank"
                    >freehtml5.co</a
                  >
                </h2>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url('assets/images/img_bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-xs-8 col-md-offset-1 slider-text">
              <div class="slider-text-inner">
                <h1><a href="#">Best showcase for architecture</a></h1>
                <h2>
                  Free html5 templates Made by
                  <a href="http://freehtml5.co/" target="_blank"
                    >freehtml5.co</a
                  >
                </h2>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(assets/images/img_bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-xs-8 col-md-offset-1 slider-text">
              <div class="slider-text-inner">
                <h1><a href="#">Best showcase for architecture</a></h1>
                <h2>
                  Free html5 templates Made by
                  <a href="http://freehtml5.co/" target="_blank"
                    >freehtml5.co</a
                  >
                </h2>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(assets/images/img_bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-xs-8 col-md-offset-1 slider-text">
              <div class="slider-text-inner">
                <h1><a href="#">Best showcase for architecture</a></h1>
                <h2>
                  Free html5 templates Made by
                  <a href="http://freehtml5.co/" target="_blank"
                    >freehtml5.co</a
                  >
                </h2>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
