<nav class="fh5co-nav" role="navigation">
  <div class="container">
    <div class="top-menu">
      <div class="row">
        <div class="col-sm-3">
          <div id="fh5co-logo">
            <a href="index.html"
              >fs | arquitectura<span> flavia strasberg</span></a
            >
          </div>
        </div>
        <div class="col-sm-9 text-right menu-1">
          <ul>
            <li class="active"><a href="index.html">Portfolio</a></li>
            <li><a href="single.html">Single</a></li>
            <li class="has-dropdown">
              <a href="single.html">Dropdown</a>
              <ul class="dropdown">
                <li><a routerLink="home" id="productCatalog">home </a></li>
                <li>
                  <a routerLink="project" id="productCatalog">project </a>
                </li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
